.container{
    /* background-image: url(../images/home-bg.png); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.img-box{
    width: 260px;
    margin: 50px;
}

.img-box img{
    width: 100%;
    border-radius:260px;
    margin:40px ;

}

.container p{
    max-width: 720px;
    text-align: center;
}

.fotr{
    color: #fff;
    background-color: black;
    text-align: center;
    border-top: 2px solid #fff;
    padding: 20px;
}
.fotr span{
    color:blue ;
}